* {
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  color: #333;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  transition: background-color 0.3s, color 0.3s;
}

.portfolio-container {
  width: 100%;
  max-width: none;
  margin: 0;
  padding: 20px;
}

.intro-section {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.25em;
}

.intro-section.right-align {
  align-items: flex-end;
}

.intro-section.right-align h2 {
  font-size: 2em;
  text-align: right;
}

.intro-section.right-align p {
  font-size: 1.2em;
  text-align: right;
  max-width: 80%;
}

.intro-section.left-align {
  align-items: flex-start;
}

.intro-section.left-align h2 {
  font-size: 1.8em;
  text-align: left;
}

.intro-section.left-align p {
  font-size: 1.1em;
  text-align: left;
  max-width: 80%;
}

.projects-section {
  margin: 4rem 0;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

.projects-section h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.projects-title {
  margin-bottom: 1rem;
  text-align: right;
}

.technologies-section {
  margin: 4rem 0;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

.technologies-section h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .intro-section h2 {
    font-size: 1.8rem;
  }

  .intro-section p {
    font-size: 1.1rem;
  }

  .projects-section h2 {
    font-size: 1.8rem;
  }

  .technologies-section h2 {
    font-size: 1.8rem;
  }

  .technology-name {
    font-size: 1.1rem;
  }
}

@media (max-width: 480px) {
  .portfolio-header h1 {
    font-size: 24px;
  }

  .portfolio-header p {
    font-size: 14px;
  }

  .intro-section h2 {
    font-size: 1.6rem;
  }

  .intro-section p {
    font-size: 1rem;
  }

  .projects-section h2 {
    font-size: 1.6rem;
  }

  .technologies-section h2 {
    font-size: 1.6rem;
  }

  .technology-name {
    font-size: 1rem;
  }
}



/**DARK MODE**/


.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode body {
  background-color: #121212;
}

.dark-mode .project-card,
.dark-mode .technologies-section,
.dark-mode .portfolio-footer,
.dark-mode .projects-section {
  background-color: #1e1e1e;
  color: #ffffff;
}

.dark-mode .project-card {
  border: 1px solid #333;
}

.dark-mode .contact-form-section {
  background-color: #333;
  color: #fff;
}

.dark-mode .contact-form input,
.dark-mode .contact-form textarea {
  background-color: #444;
  border-color: #666;
  color: #fff;
}

.dark-mode .contact-form .submit-button {
  background-color: #555;
  border-color: #444;
}

.dark-mode h2 {
  color: #fff;
}

.dark-mode .contact-form .submit-button:hover {
  background-color: #333;
}
